@model CargoTransportation.Models.DriverVehicle

@{
    ViewData["Title"] = "Create";
}


<form asp-action="Create" class="center-form">
    <h1 class="driver-vehicle-header">Закрепить машину за водителем</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-block bigger-font-size">
        <label asp-for="DriverId" class="control-label">Водитель</label>
        @Html.DropDownList("DriverId", ViewBag.Drivers as SelectList, "Выберите водителя", new { @class = "form-control" })
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="VehicleId" class="control-label">Машина</label>
        @Html.DropDownList("VehicleId", ViewBag.Vehicles as SelectList, "Выберите машину", new { @class = "form-control" })
    </div>
    <div class="button-block">
        <input type="submit" value="Закрепить" class="button blue"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
