@model DriverVehicle

<form enctype="multipart/form-data" class="form" method="post" asp-action="Delete">
    <h1 class="blue">Вы уыерены что хотите удалить эту запись?</h1>
    <input type="hidden" asp-for="DriverId" />
    <input type="hidden" asp-for="VehicleId" />
    <div class="buttons-row-center">
        <button type="submit" value="Delete" class="red delete-button">Yes</button>
    </div>
</form>
