@model DriverVehicle

<form class="center-form delete-form" asp-action="Delete">
    <h1 class="driver-vehicle-header">Открепить машину от водителя?</h1>
    <input type="hidden" asp-for="DriverId" />
    <input type="hidden" asp-for="VehicleId" />
    <div class="delete-button-block">
        <button type="submit" value="Delete" class="red button">Открепить</button>
    </div>
</form>
