@model CargoTransportation.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}



<form asp-action="Create" class="center-form">
    <h1>Новая машина</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-block bigger-font-size">
        <label asp-for="Make" class="control-label">Марка</label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="Model" class="control-label">Модель</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="RegistrationNumber" class="control-label">Номер</label>
        <input asp-for="RegistrationNumber" class="form-control" />
        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="CarryingCapacity" class="control-label">Грузоподъемность</label>
        <input asp-for="CarryingCapacity" class="form-control" />
        <span asp-validation-for="CarryingCapacity" class="text-danger"></span>
    </div>
    <div class="button-block">
        <input type="submit" value="Добавить" class="button blue" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
