@model CargoTransportation.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить машину?</h1>

<div>
    <hr />
    <dl class="row bigger-font-size">
        <dt class = "col-sm-2">
            Марка:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            Модель:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Номер:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            Грузоподъемность:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarryingCapacity)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="button red"/> 
    </form>
</div>
