@model CargoTransportation.Models.Driver

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit" class="center-form">
    <h1>Редактировать водителя</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="input-block bigger-font-size">
        <label asp-for="Name" class="control-label">Имя</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="Phone" class="control-label">Телефон</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control"s/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="input-block bigger-font-size">
        <label asp-for="Address" class="control-label">Адрес</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="button-block">
        <input type="submit" value="Сохранить" class="button blue"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
